@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --fg: #2563eb;
  --highlight-color: #fbbf24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #1890db;
  }
}

body {
  color: var(--fg);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}

