@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: slate-200;
  --fg: gray-700;
  --highlight-color: #fbbf24;
  --primary-color: #4169e1cf;
  --footer-bg:#4169e1cf;
  --card-bg:#ffffff;
}
html {
  scroll-behavior: smooth;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: slate-200;
    --foreground: gray-700;
    --primary-color:#4169e1cf;
  }
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
       url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
       url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--fg);
  background: var(--bg);
  font-family: "Inter", sans-serif;
}

nav {
  background-color: #4169E1; 
}
nav a {
  color: white; 
}
nav a:hover {
  color: #fbbf24; 
}

header {
  background-color: #e5e7eb; 
  color: #4169E1; 
}
header p {
  color: #374151; 
}

button {
  background-color: #4169E1; 
  color: white;
}

button:hover {
  background-color: #304995; 
}
footer {
  color: black;
}

footer a:hover {
  color: var(--highlight-color); 
}
